<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>可视化</title>
    <!-- including ECharts file -->
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/jquery-2.1.1.min.js"></script>
	<style>
		body{
			background-color: #100c2a;
		
		}
	</style>
</head>
<body>
	<div align="center">
    <!-- prepare a DOM container with width and height -->
	
    <div id="age_thalach" style="width: 600px;height:400px;" >
         <script type="text/javascript" src="../static/echart/scatter_age-thalach.js"></script>
    </div>
	
    <div id="sex_distribution" style="width: 600px;height:400px;">
         <script type="text/javascript" src="../static/echart/sex_distribution.js"></script>
    </div>

    <div id="age_trestbps" style="width: 600px;height:400px;">
        <script type="text/javascript" src="../static/echart/age_trestbps.js"></script>
    </div>
    <div id="trestbps_thalach" style="width: 600px;height:400px;">
        <script type="text/javascript" src="../static/echart/trestbps_thalach.js"></script>
    </div>

    <div id="cp" style="width: 600px;height:400px;">
        <script type="text/javascript" src="../static/echart/cp.js"></script>
    </div>

    <div id="corr" style="width: 800px;height:600px;">
        <script type="text/javascript" src="../static/echart/corr.js"></script>
    </div>

    <div id="important" style="width: 800px;height:600px;">
        <script type="text/javascript" src="../static/echart/feature_important.js"></script>
    </div>

    <script type="text/javascript" src="../static/echart/controller.js"></script>
	</div>
</body>
</html>